<div class="row">
    <div class="col-xs-12">
        <div class="page-title">
            <div class="title_left">
                <h3>Calendario de Pagos</h3>
            </div>
        </div>
    </div>
</div>

<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Calendar Events <small>Sessions</small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#">Settings 1</a>
                            </li>
                            <li>
                                <a href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div id='calendar'></div>
            </div>
        </div>
    </div>
</div>

<!-- FullCalendar -->
<link href="vendors/fullcalendar/dist/fullcalendar.min.css" rel="stylesheet">
<link href="vendors/fullcalendar/dist/fullcalendar.print.css" rel="stylesheet" media="print">
<script src="vendors/fullcalendar/dist/fullcalendar.min.js"></script>

<script src="js/pages/payDayCalendar.js"></script>
