﻿<!-- top tiles -->
<!-- page content -->
<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3> </h3>
        </div>
    </div>
    <div class="row tile_count">
        <div class="col-md-3 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-usd"></i> Total Mes</span>
            <div class="count green">$ 134,780</div>
            <span class="count_bottom"><i class="green"><i class="fa fa-sort-desc"></i>4% </i> Respecto mes pasado</span>
        </div>
        <div class="col-md-3 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-usd"></i> Total Día</span>
            <div class="count green">$ 19,098</div>
            <span class="count_bottom"><i class="green"><i class="fa fa-sort-desc"></i>3% </i> Respecto ayer</span>
        </div>
        <div class="col-md-3 col-xs-6 tile_stats_count">
            <span class="count_top"> <i class="fa fa-leaf" aria-hidden="true"></i></i> Ahorro Mes</span>
            <div class="count green ">$ 28,498</div>
            <span class="count_bottom"><i class="green"><i class="fa fa-sort-desc"></i>3% </i> Respecto mes pasado</span>
        </div>
        <div class="col-md-3 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-leaf" aria-hidden="true"></i></i> Ahorro Día</span>
            <div class="count green">$ 4,867</div>
            <span class="count_bottom"><i class="green"><i class="fa fa-sort-desc"></i>12% </i> Respecto ayer</span>
        </div>
        <div class="col-md-3 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-check-square-o"></i> Propósito de consumo</span>
            <div class="count green">$ 530,000</div>
            <span class="count_bottom"><i class="green"><i class="fa fa-sort-desc"></i>4% </i> Respecto mes pasado</span>
        </div>
        <div class="col-md-3 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-tint"></i> Agua</span>
            <div class="count">$ 2,315 </div>

            <span class="count_bottom"><i class="red"><i class="fa fa-sort-asc"></i>34% </i> Respecto ayer </span>
            <span class="count_top"> <i class="fa fa-unlock"></i> </span>
        </div>
        <div class="col-md-3 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-fire"></i> Gas</span>
            <div class="count">$ 9,458</div>
            <span class="count_bottom"><i class="red"><i class="fa fa-sort-asc"></i>4% </i> Respecto ayer </span>
            <span class="count_top"> <i class="fa fa-lock"></i> </span>
        </div>
        <div class="col-md-3 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-bolt"></i> Energía</span>
            <div class="count">$ 7,325</div>
            <span class="count_bottom"><i class="green"> 7% </i> Respecto ayer</span>
            <span class="count_top"> <i class="fa fa-lock"></i> </span>
        </div>
    </div>
    <!-- /top tiles -->
    <div class="row">
        <div class="col-xs-12">

            <div class="x_panel">

                <div class="x_title">
                    <h2>Movimiento Últimos 12 Días<br/><small style="margin:0">Aqui puedes ver el consumo en cada uno de tus servicios</small></h2>
                    <div class="clearfix"></div>
                </div>

                <div class="x_content">
                    <div id="mainb" style="height:400px"></div>
                </div>

            </div>

        </div>

    </div>

    <div class="row">

        <div class="col-md-8 col-sm-8 col-xs-12">
            <div class="x_panel tile fixed_height_280 overflow_hidden">
                <div class="x_title">
                    <h2>Uso de los servicios</h2>

                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <table class="" style="width:100%">
                        <tr>
                            <th style="width:37%;">
                                <p>Grafica</p>
                            </th>
                            <th>
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                    <p class="">Servicio </p>
                                </div>
                                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                    <p class="">Consumo</p>
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <td>
                                <canvas id="canvas1" height="140" width="140" style="margin: 15px 10px 10px 0"></canvas>
                            </td>
                            <td>
                                <table class="tile_info">
                                    <tr>
                                        <td>
                                            <p><i class="fa fa-square blue"></i>Agua </p>
                                        </td>
                                        <td>30%</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p><i class="fa fa-square green"></i>Gas </p>
                                        </td>
                                        <td>10%</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p><i class="fa fa-square orange"></i>Energía </p>
                                        </td>
                                        <td>20%</td>
                                    </tr>

                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="x_panel tile fixed_height_280">
                <div class="x_title">
                    <h2>Uso de los servicios</h2>

                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <h4>Así va tu consumo hoy </h4>
                    <div class="widget_summary">
                        <div class="w_left w_25">
                            <span>Agua</span>
                        </div>
                        <div class="w_center w_55">
                            <div class="progress">
                                <div class="progress-bar bg-blue" role="progressbar" data-transitiongoal="36" aria-valuemin="0" aria-valuemax="100" data-units="L">
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="widget_summary">
                        <div class="w_left w_25">
                            <span>Gas</span>
                        </div>
                        <div class="w_center w_55">
                            <div class="progress">
                                <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="24" aria-valuemin="0" aria-valuemax="100" data-units="L">
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="widget_summary">
                        <div class="w_left w_25">
                            <span>Energía</span>
                        </div>
                        <div class="w_center w_55">
                            <div class="progress">
                                <div class="progress-bar bg-orange" role="progressbar" data-transitiongoal="20" aria-valuemin="0" aria-valuemax="50"  data-units="KWh">
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>


        <!--<div class="col-md-4 col-sm-4 col-xs-12">
            <div class="x_panel tile fixed_height_280">
                <div class="x_title">
                    <h2>Ajustes rápidos</h2>

                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="dashboard-widget-content">
                        <ul class="quick-list">
                            <li>
                                <i class="fa fa-calendar-o"></i><a href="#">Ajustes</a>
                            </li>
                            <li>
                                <i class="fa fa-bars"></i><a href="#">Subscription</a>
                            </li>
                            <li><i class="fa fa-bar-chart"></i><a href="#">Auto renovación</a> </li>
                            <li>
                                <i class="fa fa-line-chart"></i><a href="#">Logros</a>
                            </li>
                            <li><i class="fa fa-bar-chart"></i><a href="#">Auto renovación</a> </li>
                            <li>
                                <i class="fa fa-line-chart"></i><a href="#">Auto renovación</a>
                            </li>
                            <li>
                                <i class="fa fa-area-chart"></i><a href="#">Cerrar sesión</a>
                            </li>
                        </ul>
                        <div class="sidebar-widget">
                            <h4>Finalización del perfil</h4>
                            <canvas width="150" height="80" id="foo" class="" style="width: 80px; height: 50px;"></canvas>
                            <div class="goal-wrapper">
                                <span class="gauge-value pull-left">$</span>
                                <span id="gauge-text" class="gauge-value pull-left">3,200</span>
                                <span id="goal-text" class="goal-value pull-right">$5,000</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->


        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="x_panel tile fixed_height_280">
                <div class="x_title">
                    <h2>Consumo de Agua</h2>

                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <h4>Su uso al momento respecto a:</h4>
                    <div class="widget_summary">
                        <div class="w_left w_25">
                            <span>Ayer</span>
                        </div>
                        <div class="w_center w_55">
                            <div class="progress">
                                <div class="progress-bar bg-blue" role="progressbar" data-transitiongoal="5" aria-valuemin="0" aria-valuemax="100">
                                </div>
                            </div>
                        </div>
                        <div class="w_right w_20">
                            <span><i class="green fa fa-arrow-down"></i> </span>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="widget_summary">
                        <div class="w_left w_25">
                            <span>Miércoles</span>
                        </div>
                        <div class="w_center w_55">
                            <div class="progress">
                                <div class="progress-bar bg-blue" role="progressbar" data-transitiongoal="8" aria-valuemin="0" aria-valuemax="100">
                                </div>
                            </div>
                        </div>
                        <div class="w_right w_20">
                            <span><i class="red fa fa-arrow-up"></i> </span>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="widget_summary">
                        <div class="w_left w_25">
                            <span>Martes</span>
                        </div>
                        <div class="w_center w_55">
                            <div class="progress">
                                <div class="progress-bar bg-blue" role="progressbar" data-transitiongoal="10" aria-valuemin="0" aria-valuemax="100">
                                </div>
                            </div>
                        </div>
                        <div class="w_right w_20">
                            <span><i class="green fa fa-arrow-down"></i> </span>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="x_panel tile fixed_height_280">
                <div class="x_title">
                    <h2>Consumo de Gas</h2>

                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <h4>Su uso al momento respecto a:</h4>
                    <div class="widget_summary">
                        <div class="w_left w_25">
                            <span>Ayer</span>
                        </div>
                        <div class="w_center w_55">
                            <div class="progress">
                                <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="15" aria-valuemin="0" aria-valuemax="100">
                                </div>
                            </div>
                        </div>
                        <div class="w_right w_20">
                            <span><i class="red fa fa-arrow-up"></i></span>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="widget_summary">
                        <div class="w_left w_25">
                            <span>Miércoles</span>
                        </div>
                        <div class="w_center w_55">
                            <div class="progress">
                                <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="12" aria-valuemin="0" aria-valuemax="100">
                                </div>
                            </div>
                        </div>
                        <div class="w_right w_20">
                            <span><i class="green fa fa-arrow-down"></i> </span>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="widget_summary">
                        <div class="w_left w_25">
                            <span>Martes</span>
                        </div>
                        <div class="w_center w_55">
                            <div class="progress">
                                <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="8" aria-valuemin="0" aria-valuemax="100">
                                </div>
                            </div>
                        </div>
                        <div class="w_right w_20">
                            <span><i class="green fa fa-arrow-down"></i> </span>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="x_panel tile fixed_height_280">
                <div class="x_title">
                    <h2>Consumo de Energía</h2>

                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <h4>Su uso al momento respecto a:</h4>
                    <div class="widget_summary">
                        <div class="w_left w_25">
                            <span>Ayer</span>
                        </div>
                        <div class="w_center w_55">
                            <div class="progress">
                                <div class="progress-bar bg-orange" role="progressbar" data-transitiongoal="14" aria-valuemin="0" aria-valuemax="100">
                                </div>
                            </div>
                        </div>
                        <div class="w_right w_20">
                            <span><i class="green fa fa-arrow-down"></i></span>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="widget_summary">
                        <div class="w_left w_25">
                            <span>Miércoles</span>
                        </div>
                        <div class="w_center w_55">
                            <div class="progress">
                                <div class="progress-bar bg-orange" role="progressbar" data-transitiongoal="9" aria-valuemin="0" aria-valuemax="100">
                                </div>
                            </div>
                        </div>
                        <div class="w_right w_20">
                            <span><i class="green fa fa-arrow-down"></i></span>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="widget_summary">
                        <div class="w_left w_25">
                            <span>Martes</span>
                        </div>
                        <div class="w_center w_55">
                            <div class="progress">
                                <div class="progress-bar bg-orange" role="progressbar" data-transitiongoal="4" aria-valuemin="0" aria-valuemax="100">
                                </div>
                            </div>
                        </div>
                        <div class="w_right w_20">
                            <span><i class="red fa fa-arrow-up"></i></span>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>

<!-- ECharts -->
<script src="vendors/echarts/dist/echarts.min.js"></script>
<script src="vendors/echarts/map/js/world.js"></script>

<!-- Scripts -->
<script src="js/pages/Dashboard.js"></script>

