<!-- page content -->
<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Consejo general</h3>
        </div>

         
    </div>

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Buen uso en general <small></small></h2>

                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <div class="col-md-8 col-lg-8 col-sm-7">
                        <!-- blockquote -->


                        <blockquote class="blockquote-reverse">
                            
                                <p align="justify"> <FONT SIZE=5>Hola"</font> la empresa <font color=#92D050> <FONT SIZE=5>EcoServices</font> </font> está comprometida con el buen uso de los servicios 
                             públicos y a la vez se efectúe un buen ahorro de los mismos, por ello te acompañamos 
                               con buenos consejos de ahorro para así crear sociedades sostenibles a través de la tecnología.<p> <br/>
                                 
                             
                               <CENTER><u> ¿SABIAS QUE?</u></CENTER>
                                 <br/>
                                

                             <CENTER>  Apagar la calefacción consume más energía que mantenerla encendida a temperatura constante.
                              Si bien volver a encender la calefacción supone un pico de gasto, a la larga, el ahorro se nota.
                               Además, es recomendable regular el termostato a 20º, puesto que aumentarlo un solo grado supone
                                un 7% más de gasto de energía. Según un estudio de la Oficina Verde de la Universidad de Zaragoza, si se limita                                         la temperatura a 16ºC entre las diez de la noche y las seis de la mañana, se puede recortar                                         en torno a un 13% el consumo anual de combustible, con respecto a lo que ocurriría si se mantiene
                              una temperatura constante de 20ºC. Con el apagado el ahorro es aún mayor. </CENTER>
                              <br/>
                              <FONT color=#92D050>¡ NO LA MALGASTES !</font> 
                            <br>
                               
                                
                          <br>   <p align="right">   Si sigues estos consejos, te aseguramos un bajo consumo en tu factura 
                                de los servicios públicos. </p>


                                <footer>
                                    <cite title="Source Title">Cuida los servicios</cite>
                                </footer>
                            </p>
                        </blockquote>
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-5">
                        <img src="images/generaltips.jpg" class="img-responsive" />
                    </div>

                    <div class="clearfix"></div>


                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->
