<!-- page content -->
<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Consejo de ahorro </h3>
        </div>

        
    </div>

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Como ahorrar Energía <small></small></h2>

                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <div class="col-md-8 col-lg-8 col-sm-7">
                        <!-- blockquote -->
                        <blockquote class="blockquote-reverse">
                            
                                 <p align="justify"> <FONT SIZE=5>Hola"</font> la empresa <font color=#92D050> <FONT SIZE=5>EcoServices</font> </font> está comprometida con el buen uso de los servicios 
                             públicos y a la vez se efectúe un buen ahorro de los mismos, por ello te acompañamos 
                               con buenos consejos de ahorro para así crear sociedades sostenibles a través de la tecnología.<p> <br/>
                              
                             
                               <CENTER><u> CONSEJO DE AHORRO #1:</u></CENTER>
                                 <br/>
                                

                             <CENTER>  Sustituye tu refrigerador viejo (de más de 10 años) de alto consumo eléctrico, por uno moderno de bajo consumo (consume 1/3 parte de electricidad). 
                             La diferencia de costo se paga con el ahorro de energía. </CENTER>
                              <br/>
                              <FONT color=#92D050>¡ NO LA MALGASTES !</font> 
                                 <br>
                               
                                
                          <br>      <p align="right">   Si sigues estos consejos, te aseguramos un bajo consumo en tu factura 
                                de los servicios públicos. </p>

                                <footer>
                                    <cite title="Source Title">Cuida los servicios</cite>
                                </footer>
                            </p>
                        </blockquote>
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-5">

                        <img src="images/luzcolgando.jpg" class="img-responsive"/>
                    </div>

                    <div class="clearfix"></div>


                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->
