<!-- page content -->
<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Peticiones, Quejas, Reclamos y Sugerencias</h3>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Apreciado Usuario</h2>

                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    
                        <p align="justify">
                            Para nosotros es muy importante contar con usted. En procura de mejorar
                            nuestros servicios y trámites que ofrecemos a nuestros grupos de interés, hemos
                            rediseñado nuestra página Web, a través de la cual usted podrá registrar sus solicitudes,
                            quejas, reclamos y/o sugerencias sobre temas de nuestra competencia y de igual forma,
                            consultar información relacionada con nuestra gestión empresarial y del sector.
                        </p>

                </div>

            </div><div class="x_content">

                <CENTER>
                    <h3>
                        Señor usuario
                    </h3>
                </CENTER>
                <br />
                <br />

                <p align="justify">
                    Con el fin de brindarle una mejor atención, ponemos a su disposición de los siguientes Canales de Comunicación: <br />
                    Página Web: www.ecoservices.com.co <br />
                    Atención telefónica: PBX 2549255 <br />
                    Atención personalizada: Punto de Atención al Ciudadano y al Operador ubicado en el barrio Laureles de la ciudad de Medellín. <br /><br />

                    Asimismo, y en aras de garantizar brindarle un mejor servicio y teniendo en cuenta el derecho al que todas las personas
                    tienen de presentar peticiones, quejas, reclamos, sugerencias, etc, de manera respetuosa a las autoridades por motivos
                    de interés general o particular y a obtener pronta respuesta, consideramos pertinente definir algunos conceptos de interés,
                    que los ayudaran a orientarlas de acuerdo a lo que requiere presentar ante nuestra entidad: <br />
                    Todas las personas tienen derecho a presentar peticiones respetuosas a las autoridades por motivos de interés general o particular
                    y a obtener pronta resolución.
                    <br /><br />
                    La petición o derechos de petición: <br />es aquel derecho que tiene toda persona para solicitar o reclamar ante las autoridades competentes
                    por razones de interés general o interés particular para elevar solicitudes respetuosas de información y/o consulta y para obtener pronta
                    resolución de las mismas.<br /><br />

                    Queja:<br /> Cualquier expresión verbal, escrita o en medio electrónica de insatisfacción con la conducta o la acción de los servidores públicos
                    o de los particulares que llevan a cabo una función estatal y que requiere una respuesta. (Las quejas deben ser resueltas, atendidas o contestadas
                    dentro de los quince (15) días siguientes a la fecha de su presentación.<br /><br />

                    Reclamo:<br /> Cualquier expresión verbal, escrita o en medio electrónico, de insatisfacción
                    referida a la prestación de un servicio o la deficiente atención de una autoridad pública, es decir, es una declaración formal por el incumplimiento
                    de un derecho que ha sido perjudicado o amenazado, ocasionado por la deficiente prestación o suspensión injustificada del servicio. (Los reclamos deben
                    ser resueltos, atendidos
                    o contestados dentro de los quince (15) días siguientes a la fecha de su presentación).<br /><br />

                    Sugerencia:<br /> Cualquier expresión verbal, escrita o en medio electrónico de recomendación entregada por el ciudadano, que tiene por objeto mejorar el
                    servicio que se presta en cada una de las dependencias de EcoServices, racionalizar el empleo de
                    los recursos o hacer más participativa la gestión pública. (En un término de diez (10) días se informará sobre la viabilidad de su aplicación).
                </p>

                <br />

                <a class="text-center" href="/#contacto"><h1><span class="count_bottom"><span class="glyphicon glyphicon-copy green" aria-hidden="true"></span></h1><h4>Registrar PQRS</h4></span></a>

            </div>

        </div>
    </div>
</div>
<!-- /page content -->
