<!--<!-- page content -->
<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Soporte técnico EcoServices</h3>
        </div>

        <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">

            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>¡Recuerda!</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <h5>Si requieres reportar daños en tus servicios, puedes hacerlo escribiéndonos y con gusto registraremos tu solicitud, en EcoServices estamos para servirte. </h5>
                </div>
            </div>

            <div>
                <CENTER>
                    <h3>
                        Contáctanos
                    </h3>
                    <h5> Nuestros asesores atenderán todas tus consultas a través de nuestros canales de atención. </h5>
                </CENTER>
            </div>

        </div>
        

        <div class="col-xs-12" style="padding-top: 50px">
            <div class="col-md-offset-4 col-md-2">
                <CENTER>
                    <h1 class="count_bottom green"><i class="fa fa-pencil-square-o"></i></h1>
                    <h4>Escríbenos</h4>
                </CENTER>
            </div>

            <div class="col-md-2">
                <CENTER>
                    <h1 class="count_bottom green"><i class="fa fa-building"></i></h1>
                    <h4> Centros de Ventas y Servicio</h4>
                </CENTER>
            </div>
        </div>
        <br/>
        <div class="col-xs-12" style="padding-top: 50px">
            <CENTER>
                <h4>
                    Tambien estamos en
                </h4>
                <h1 class="count_bottom">
                    <a target="_blank" href="https://www.facebook.com/EcoServicesColombia/"><i class="fa fa-facebook-official green"></i></a>
                    <a target="_blank" href="https://www.youtube.com/channel/UCc92KXAkrp99G40cwijKgaA"><i class="fa fa-youtube-square green"></i></a>
                </h1>
            </CENTER>
        </div>
    </div>
</div>


<!-- /page content -->