<div class="row">
    <div class="col-xs-12">
        <div class="page-title">
            <div class="title_left">
                <h3>¿Cómo va mi ahorro? </h3>
            </div>
        </div>
    </div>
</div>

<!-- page content -->
<div class="row tile_count">
    <div class="col-md-3 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-leaf"></i> Total ahorro al año</span>
        <div class="count green">$ 450,780</div>
        <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>4% </i> Respecto al año pasado</span>
    </div>
    <div class="col-md-3 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-leaf"></i> Total ahorro al mes</span>
        <div class="count green">$ 28,498</div>
        <span class="count_bottom"><i class="red"><i class="fa fa-sort-desc"></i>3% </i> Respecto al mes pasado </span>
    </div>

    <div class="col-md-3 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-leaf" aria-hidden="true"></i> Total ahorro al día</span>
        <div class="count green">$ 2,342</div>
        <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>12% </i> Respecto ayer</span>
    </div>

    <div class="col-md-3 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-tint "></i> Total ahorro de Agua</span>
        <div class="count green">$ 1,115 </div>
        <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>7% </i> Respecto ayer </span>
    </div>

    <div class="col-md-3 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-fire"></i> Total ahorro de Gas</span>
        <div class="count green">$ 3,758</div>
        <span class="count_bottom"><i class="red"> <i class="fa fa-sort-desc"></i>4% </i> Respecto ayer </span>

    </div>
    <div class="col-md-3 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-bolt "></i> Total ahorro de Energía</span>
        <div class="count green">$ 2,458</div>
        <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>7% </i> Respecto ayer</span>

    </div>

    <div class="col-md-3 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-check-square-o "></i> Pronostico de ahorro para mañana</span>
        <div class="count green">$ 2,458</div>
        <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>4% </i> Respecto a hoy</span>

    </div>

    <div class="col-md-3 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-check-square-o "></i> Pronostico de ahorro para el mes siguiente</span>
        <div class="count green">$ 29,483</div>
        <span class="count_bottom"><i class="green"> <i class="fa fa-sort-asc"></i>2% </i> Respecto a este mes</span>
    </div>
</div>

<div class="row">

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="dashboard_graph">
            <div class="row x_title">
                <div class="col-xs-12">
                    <h3>Movimiento semanal <small><br />Gráfica de tus consumos</small></h3>
                </div>
            </div>
            <div class="col-xs-12">
                <div id="placeholder33" style="height: 260px; display: none" class="demo-placeholder"></div>
                <div style="width: 100%;">
                    <div id="canvas_dahs" class="demo-placeholder" style="width: 100%; height:270px;"></div>
                </div>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>

</div>

<script src="js/pages/Ahorro.js"></script>