﻿<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Paga tu servicio EcoServices <small></small></h3>
        </div>


    </div>

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">

                <div class="x_content">

                    <section class="content invoice">
                        <!-- title row -->
                        <div class="row">
                            <div class="col-xs-12 invoice-header" style="padding: 15px">
                                <h1>
                                    <small class="pull-right">Total a pagar: $ 30,107</small>
                                </h1>
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- info row -->
                        <div class="row invoice-info col-sm-4">

                                <!--<br>  <div class="col-sm-4 invoice-col">
                                    De
                                    <address>
                                        <strong>EcoServices Colombia S.A.</strong>
                                        <br>Av. Bolivariana
                                        <br>Medellín, Colombia
                                        <br>Telefono:(+57) 254 9255
                                        <br>Email: Info@ecoservices.com.co
                                    </address>
                                </div>-->
                                <!-- /.col -->
                                <div class="col-xs-12 invoice-col">
                                    <b>Factura #007612</b>
                                </div>


                                <div class="col-xs-12 invoice-col">
                                    <address>
                                        <strong>Emilio Martinez Rivera</strong>
                                        <br>Edificio LINUX
                                        <br>El Poblado
                                        <br>Medellín, Colombia
                                        <br>CC/NIT: 1038814419
                                    </address>
                                </div>
                                <!-- /.col -->
                                <div class="col-xs-12 invoice-col">
                                    <b>Contrato Numero:</b> 433534<br>
                                    <b>Orden de pedido:</b> 4F3S8J<br>
                                    <b>Referente de pago:</b> 968-34567<br>
                                    <b>Fecha vencimiento de pago:</b> 2/22/2014<br>
                                </div>
                                <!-- /.col -->

                                <div class="col-sm-12 invoice-col text-center">
                                    <br />
                                    <img src="images/sparlampe.jpg" class="img-circle hidden-xs" style="max-width: 170px" />
                                </div>
                        </div>
                        <!-- /.row -->
                        <div class="row invoice-info col-sm-8">
                            <div class="x_title">
                                <h2>Servicios prestados y Cobros <small></small></h2>

                                <div class="clearfix"></div>
                            </div>

                            <!-- Table row -->
                            <div class="row">
                                <div class="col-xs-12 table">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>

                                                <th>Servicio</th>
                                                <th>Código #</th>
                                                <th style="width: 59%">Descripción</th>
                                                <th>Subtotal</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>

                                                <td>Monitoreo y censo</td>
                                                <td>968-34567</td>
                                                <td>
                                                    Monitoreo, censo y gestión de los servicios públicos
                                                </td>
                                                <td>$ 25,300</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.col -->
                            </div>

                            <div class="col-xs-12">
                                <p class="lead"> Valor a pagar por Pronto Pago</p>
                                <div class="table-responsive">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <th style="width:50%">Subtotal:</th>
                                                <td>$ 25,300</td>
                                            </tr>
                                            <tr>
                                                <th>Iva (19%)</th>
                                                <td>$ 4,807</td>
                                            </tr>

                                            <tr>
                                                <th><h3>Total:</h3></th>
                                                <td><h3>$ 30,107</h3></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="col-xs-12">
                                <p class="lead"> Valor a pagar por Mora (+0,5%)</p>
                                <div class="table-responsive">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <th style="width:50%">Subtotal:</th>
                                                <td>$ 25,427</td>
                                            </tr>
                                            <tr>
                                                <th>Iva (19%)</th>
                                                <td>$ 4,832</td>
                                            </tr>

                                            <tr>
                                                <th><h3>Total:</h3></th>
                                                <td><h3>$ 30,258</h3></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- /.row -->
                        </div>
                        <br> <br> <br>

                        <!-- /.col -->
                        <!-- /.col -->

                        <div class="row">
                            <!-- accepted payments column -->
                            <div class="col-xs-6">
                                <p class="lead">Métodos de pago electrónicos:</p>
                                <img src="images/paypal.png" alt="Visa">

                                <img src="images/neteller.png" alt="American Express">
                                <img src="images/pse.png" alt="Paypal">
                                <p class="text-muted well well-sm no-shadow" style="margin-top: 10px;">
                                    Si tu pago del servicio es con cheque, los cheques deben ser girados a nombre de
                                    EcoServices Colombia S.A.<br>
                                    • No se recibe pago combinado de cheque y efectivo.<br>
                                    • No se reciben pagos parciales.
                                </p>
                            </div>

                            <div class="col-xs-6">
                                <img src="images/barcode.png" class="img-responsive" />
                            </div>
                            <!-- /.row -->
                            <!-- this row will not appear when printing -->
                            <div class="row no-print">
                                <div class="col-xs-12" style="padding-right: 20px;">
                                    <button class="btn btn-primary pull-right"><i class="fa fa-download"></i> Descargar Factura</button>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <p class="text-muted well well-sm no-shadow" style="margin-top: 10px;">
                    Gracias por utilizar nuestro servicio, así contribuyes al buen manejo  de los servicios públicos y haces parte de la nueva sociedad sostenible
                </p>

                <!-- this row will not appear when printing
                <div class="col-xs-6">
                <p class="lead">Tambien puedes hacer el pago de EcoServices por medio de estas entidades:</p>
                          <p class="lead">Bancos:</p>
                          <img src="images/bancolombia.png" alt="Visa">
                          <img src="images/BBVA.png" alt="Mastercard">
                          <img src="images/babogota.png" alt="Visa">
                          <img src="images/COLPATRIA.png" alt="American Express">
                          <img src="images/popular.png" alt="Paypal">
                          <img src="images/Corpbanca.png" alt="Paypal">
                          <img src="images/helmbank.png" alt="Paypal">
                          <img src="images/davivienda.png" alt="Paypal">

                        </div>

                        <div class="col-xs-6">
                         <p class="lead">Supermercados y almacenes de cadena:</p>
                          <img src="images/surtimax.png" alt="Visa">
                          <img src="images/exito.png" alt="Mastercard">
                          <img src="images/carulla.png" alt="American Express">
                          <img src="images/pse.png" alt="Paypal">

                        </div>

                        <div class="col-xs-6">
                       <br><br>   <p class="lead">Redes Financieras:</p>
                          <img src="images/rbm.png" alt="Visa">
                          <img src="images/ath.png" alt="Mastercard">
                          <img src="images/servibanca.png" alt="American Express">
                        </div>
                        <div class="col-xs-6">
                          <p class="lead">Corresponsales Bancarios:</p>
                          <img src="images/baloto.png" alt="Visa">
                          <img src="images/sured.png" alt="Mastercard">

                        </div> -->
            </div>

        </div>

    </div>

</div>
