﻿<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Propósito de Consumo</h3>
        </div>

        
    </div>

    <div class="clearfix"></div>

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="row">
            <div class="col-sm-4 col-xs-12">
                <div class="x_panel" style="background-color: #73BB26; color: white;">
                    <div class="x_title">
                        <h2>Propósito Actual<small></small></h2>
                        
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="text-center">
                            <div class="col-xs-12">
                                <h3>$ 530,000</h3>
                            </div>
                            <div class="col-xs-12">
                                <div class="col-xs-6">
                                    <h2>
                                        Llevas:
                                    </h2>
                                    <span>
                                        $ 134,780
                                    </span>
                                </div>
                                <div class="col-xs-6">
                                    <h2>
                                        Faltan:
                                    </h2>
                                    <span>
                                        $ 395,220
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Ingresar Nuevo Propósito <small></small></h2>
                        
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Valor del propósito" />
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="button">Guardar</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Propósito Recomendado<small></small></h2>
                        
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="text-center">
                            <h1>$ 500,000</h1>
                            <span>
                                <button class="btn btn-primary" type="button">Aplicar</button>
                                <button class="btn btn-primary" type="button">Previsualizar</button>
                            </span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-sm-8 col-xs-12" >
                <div class="x_panel" >
                    <div class="x_title">
                        <h2>Recomendado Diario</h2>
                        <div class="clearfix"></div>
                    </div>

                    <div class="x_content">
                        <div id="mainb" style="height:450px"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="x_panel">
            <div class="x_title">
                <h2>Últimos doce propósitos <small></small></h2>
                <div class="filter">
                    <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                        <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                        <span>Diciembre 30, 2016 - Enero 28, 2017</span> <b class="caret"></b>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <p></p>
                <div class="table-responsive">
                    <table class="table table-striped jambo_table bulk_action">
                        <thead>
                            <tr class="headings">
                                <th class="column-title">Fecha de Ingreso</th>
                                <th class="column-title">Estimado Diario Agua </th>
                                <th class="column-title">Estimado Diario Energía </th>
                                <th class="column-title">Estimado Diario Gas </th>
                                <th class="column-title">Propósito </th>
                                <th class="column-title no-link last">Cumplimiento</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="even pointer">
                                <td>01 Ene de 2017 </td>
                                <td>$ 5,600</td>
                                <td>$ 7,666</td>
                                <td>$ 4,400</td>
                                <td>$ 530,000</td>
                                <td>65 %</td>
                            </tr>
                            <tr class="odd pointer">
                                <td>01 Febrero de 2017</td>
                                <td>$ 2,500</td>
                                <td>$ 3,500</td>
                                <td>$ 3,332</td>
                                <td>$ 279,987</td>
                                <td>98 %</td>
                            </tr>
                            <tr class="even pointer">
                                <td>01 Enero de 2017</td>
                                <td>$ 2,300</td>
                                <td>$ 3,460</td>
                                <td>$ 3,232</td>
                                <td>$ 274,226</td>
                                <td>86 %</td>
                            </tr>
                            <tr class="odd pointer">
                                <td>01 Diciembre de 2016</td>
                                <td>$ 2,500</td>
                                <td>$ 3,500</td>
                                <td>$ 3,332</td>
                                <td>$ 279,987</td>
                                <td>97 %</td>
                            </tr>
                            <tr class="even pointer">
                                <td>01 Noviembre de 2016</td>
                                <td>$ 2,300</td>
                                <td>$ 3,460</td>
                                <td>$ 3,232</td>
                                <td>$ 274.226</td>
                                <td>75 %</td>
                            </tr>
                            <tr class="odd pointer">
                                <td>01 Octubre de 2016</td>
                                <td>$ 4,286</td>
                                <td>$ 6,500</td>
                                <td>$ 4,800</td>
                                <td>$ 467,607</td>
                                <td>62 %</td>
                            </tr>
                            <tr class="even pointer">
                                <td>01 Septiembre de 2016</td>
                                <td>$ 2,600</td>
                                <td>$ 3,600</td>
                                <td>$ 3,836</td>
                                <td>$ 282,796</td>
                                <td>73 %</td>
                            </tr>
                            <tr class="odd pointer">
                                <td>01 Agosto de 2016</td>
                                <td>$ 2,650</td>
                                <td>$ 5,500</td>
                                <td>$ 4,200</td>
                                <td>$ 370,482</td>
                                <td>80 %</td>
                            </tr>
                            <tr class="even pointer">
                                <td>01 Julio de 2016 </td>
                                <td>$ 4,700</td>
                                <td>$ 6,685</td>
                                <td>$ 5,300</td>
                                <td>$ 500,577</td>
                                <td>98 %</td>
                            </tr>
                            <tr class="odd pointer">
                                <td>01 Junio de 2016</td>
                                <td>$ 4,103</td>
                                <td>$ 7,831</td>
                                <td>$ 5,900</td>
                                <td>$ 534,943</td>
                                <td>100 %</td>
                            </tr>
                            <tr class="even pointer">
                                <td>01 Mayo de 2016</td>
                                <td>$ 4,440</td>
                                <td>$ 5,812</td>
                                <td>$ 5,560</td>
                                <td>$ 474,384</td>
                                <td>96 %</td>
                            </tr>
                            <tr class="odd pointer">
                                <td>01 Abril de 2016</td>
                                <td>$ 2,500</td>
                                <td>$ 3,500</td>
                                <td>$ 3,332</td>
                                <td>$ 279.436</td>
                                <td>82 %</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ECharts -->
<script src="vendors/echarts/dist/echarts.min.js"></script>
<script src="vendors/echarts/map/js/world.js"></script>

<script src="js/pages/Proposito.js"></script>
