﻿<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Historial de Consumo </h3>
        </div>

        <div class="title_right">
            <div class="filter">
                <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                    <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                    <span>Diciembre 30, 2016 - Enero 28, 2017</span> <b class="caret"></b>
                </div>
            </div>
            <!--<div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Ingresar Fecha">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Ir</button>
                    </span>
                </div>
            </div>-->
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Última semana <small></small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li class="pull-right">
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <p></p>
                <div class="table-responsive">
                    <table class="table table-striped jambo_table bulk_action">
                        <thead>
                            <tr class="headings">
                                <th class="column-title">Código </th>
                                <th class="column-title">Fecha de Consumo</th>
                                <th class="column-title">Agua </th>
                                <th class="column-title">Gas </th>
                                <th class="column-title">Energía </th>
                                <th class="column-title">Total del día </th>
                                <th class="column-title no-link last">Acum del Mes </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="odd pointer">
                                <td class="">121000040</td>
                                <td class="">Vie, Diciembre 23 de 2016</td>
                                <td class="">$ 3.546</td>
                                <td class="">$ 4.563</td>
                                <td class="">$ 3.457</td>
                                <td class="">$ 11.566</td>
                                <td class="">$ 177.817</td>
                            </tr>
                            <tr class="even pointer">
                                <td class="">121000039</td>
                                <td class="">Jue, Diciembre 22 de 2016</td>
                                <td class="">$ 3.546</td>
                                <td class="">$ 3.659</td>
                                <td class="">$ 2.348</td>
                                <td class="">$ 9.463</td>
                                <td class="">$ 166.251</td>
                            </tr>
                            <tr class="odd pointer">
                                <td class="">121000038</td>
                                <td class="">Mie, Diciembre 21 de 2016</td>
                                <td class="">$ 4.576</td>
                                <td class="">$ 4.765</td>
                                <td class="">$ 4.587</td>
                                <td class="">$ 13.928</td>
                                <td class="">$ 156.788</td>
                            </tr>
                            <tr class="even pointer">
                                <td class="">121000037</td>
                                <td class="">Mar, Diciembre 20 de 2016</td>
                                <td class="">$ 2.789</td>
                                <td class="">$ 4.356</td>
                                <td class="">$ 3.654</td>
                                <td class="">$ 10.799</td>
                                <td class="">$ 142.860</td>
                            </tr>
                            <tr class="odd pointer">
                                <td class="">121000036</td>
                                <td class="">Lun, Diciembre 19 de 2016</td>
                                <td class="">$ 3.546</td>
                                <td class="">$ 6.575</td>
                                <td class="">$ 3.465</td>
                                <td class="">$ 13.486</td>
                                <td class="">$ 132.061</td>
                            </tr>
                            <tr class="even pointer">
                                <td class="">121000035</td>
                                <td class="">Dom, Diciembre 18 de 2016</td>
                                <td class="">$ 4.672</td>
                                <td class="">$ 6.543</td>
                                <td class="">$ 4.573</td>
                                <td class="">$ 15.788</td>
                                <td class="">$ 118.575</td>
                            </tr>
                            <tr class="odd pointer">
                                <td class="">121000034</td>
                                <td class="">Sab, Diciembre 17 de 2016</td>
                                <td class="">$ 7.563</td>
                                <td class="">$ 6.426</td>
                                <td class="">$ 6.789</td>
                                <td class="">$ 20.778</td>
                                <td class="">$ 102.787</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="x_panel">
            <div class="x_title">
                <h2>Últimos doce meses <small></small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li class="pull-right">
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <p></p>
                <div class="table-responsive">
                    <table class="table table-striped jambo_table bulk_action">
                        <thead>
                            <tr class="headings">
                                <th class="column-title">Código </th>
                                <th class="column-title">Fecha de Consumo</th>
                                <th class="column-title">Agua </th>
                                <th class="column-title">Gas </th>
                                <th class="column-title">Energía </th>
                                <th class="column-title">Total del mes </th>
                                <th class="column-title no-link last">Acum últimos 12 meses </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="odd pointer">
                                <td>12100051</td>
                                <td>01 Febrero de 2017</td>
                                <td>$ 93.171</td>
                                <td>$ 90.243</td>
                                <td>$ 96.573</td>
                                <td>$ 279.987</td>
                                <td>$ 3.348.063</td>
                            </tr>
                            <tr class="even pointer">
                                <td>12100050</td>
                                <td>01 Enero de 2017</td>
                                <td>$ 92.892</td>
                                <td>$ 86.347</td>
                                <td>$ 94.987</td>
                                <td>$ 274.226</td>
                                <td>$ 3.082.371</td>
                            </tr>
                            <tr class="odd pointer">
                                <td>12100049</td>
                                <td>01 Diciembre de 2016</td>
                                <td>$ 93.171</td>
                                <td>$ 90.243</td>
                                <td>$ 96.573</td>
                                <td>$ 279.987</td>
                                <td>$ 2.814.258</td>
                            </tr>
                            <tr class="even pointer">
                                <td>12100048</td>
                                <td>01 Noviembre de 2016</td>
                                <td>$ 92.892</td>
                                <td>$ 86.347</td>
                                <td>$ 94.987</td>
                                <td>$ 274.226</td>
                                <td>$ 2.534.271</td>
                            </tr>
                            <tr class="odd pointer">
                                <td>12100047</td>
                                <td>01 Octubre de 2016</td>
                                <td>$ 92.614</td>
                                <td>$ 92.450</td>
                                <td>$ 87.543</td>
                                <td>$ 272.607</td>
                                <td>$ 2.260.045</td>
                            </tr>
                            <tr class="even pointer">
                                <td>12100046</td>
                                <td>01 Septiembre de 2016</td>
                                <td>$ 97.453</td>
                                <td>$ 88.554</td>
                                <td>$ 96.789</td>
                                <td>$ 282.796</td>
                                <td>$ 1.987.438</td>
                            </tr>
                            <tr class="odd pointer">
                                <td>12100045</td>
                                <td>01 Agosto de 2016</td>
                                <td>$ 98.673</td>
                                <td>$ 89.236</td>
                                <td>$ 94.573</td>
                                <td>$ 282.482</td>
                                <td>$ 1.704.642</td>
                            </tr>
                            <tr class="even pointer">
                                <td>12100044</td>
                                <td>01 Julio de 2016 </td>
                                <td>$ 79.659</td>
                                <td>$ 89.453</td>
                                <td>$ 93.465</td>
                                <td>$ 262.577</td>
                                <td>$ 1.422.160</td>
                            </tr>
                            <tr class="odd pointer">
                                <td>12100043</td>
                                <td>01 Junio de 2016</td>
                                <td>$ 89.546</td>
                                <td>$ 99.743</td>
                                <td>$ 93.654</td>
                                <td>$ 282.943</td>
                                <td>$ 1.159.583</td>
                            </tr>
                            <tr class="even pointer">
                                <td>12100042</td>
                                <td>01 Mayo de 2016</td>
                                <td>$ 87.453</td>
                                <td>$ 95.344</td>
                                <td>$ 94.587</td>
                                <td>$ 277.384</td>
                                <td>$ 876.640</td>
                            </tr>
                            <tr class="odd pointer">
                                <td>12100041</td>
                                <td>01 Abril de 2016</td>
                                <td>$ 89.045</td>
                                <td>$ 98.043</td>
                                <td>$ 92.348</td>
                                <td>$ 279.436</td>
                                <td>$ 599.256</td>
                            </tr>
                            <tr class="even pointer">
                                <td>12100040</td>
                                <td>01 Marzo de 2016 </td>
                                <td>$ 98.675</td>
                                <td>$ 127.688</td>
                                <td>$ 93.457</td>
                                <td>$ 319.820</td>
                                <td>$ 319.820</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="js/pages/Historial.js"></script>